.container {
  padding: 8rem 4rem;
  font-family: "poppins", sans-serif;

  .productChooseContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .inputContainer {
      width: 100%;
      margin-top: 20px;

      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 5rem;

      .inputBox {
        width: 100%;
        max-width: 400px;
      }
    }

    .generatebutton {
      width: 100%;
      margin-top: 2rem;
      max-width: 200px;
    }
  }

  .generatedIdsTabs {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem 1.5rem;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  width: fit-content;

  h3 {
    color: orange;
  }
}

.vehicleRecordCardContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.vehicleRecordCard {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1.5rem 2.5rem;
  background: linear-gradient(
    to bottom right,
    #0e5a93 43.75%,
    #1d4462 77.08%,
    #124f5e 92.19%
  );
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  width: fit-content;
}
